[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MultiKink"]
	path = MultiKink
	url = https://github.com/cran/MultiKink
	shallow = true
	registered = true
